# configs
.eslintrc.js
.prettierrc.json
.github
package-lock.json
package.json
tsconfig.json

# Markdown
*.md

# compiled output
/dist

# dependencies
/node_modules

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# System Files
.DS_Store
Thumbs.db
